
.box-container {
	height: 100%;
}

.box-item {
	width: 100%;
	z-index: 1000;
}

.panel1, .panel2, .panel3, .panel4, .panel5 , .panel6{
    padding: 50px;
    display: none;
}


.green{
	background-color:lightgreen;
}
