
.box-container {
	height: 100%;
}

.box-item {
	width: 100%;
	z-index: 1000;
}

.panel1, .panel2, .panel3, .panel4, .panel5 , .panel6{
    padding: 50px;
    display: none;
}


.green{
	background-color:lightgreen;
}


.red{
	background-color:lightgreen;
}

 /*div.ui-selectee {border: 4px solid #aaa; background-color:#44c765}
      div.ui-selecting {border:4px dotted #000; background-color:yellow;}*/


.draggable-helper {
    width:120px;
    display:inline-block;
    list-style-type:none;
}
